/* @font-face {
  font-family: "MuseoModerno", sans-serif;
  src: url("./2c8186e693dd4a9d48d6.ttf"); 
} */

body {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  height: fit-content !important;
}
