@import url("../global.css");

* {
  font-family: "MuseoModerno", sans-serif !important;
  font-weight: 500 !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--rules-helper__bg-dark);
  height: fit-content !important;
}
