@import url("../../global.css");

#rulesHelperCustomButton.custom-button {
  display: flex;
  justify-content: space-between;
  min-height: var(--rules-helper__btn-min-height);
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--rules-helper__btn-bg-color);
  color: var(--rules-helper__btn-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: var(--rules-helper__btn-border-radius);
  transition: background-color 0.3s ease;
  font-size: var(--rules-helper__font-size);
}

#rulesHelperCustomButton.custom-button:hover {
  background-color: var(--rules-helper__btn-hover-bg-color);
}
