/* @import url(../../contentScript/global.css);

[id^="rulesHelper"] {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  height: fit-content !important;
  z-index: 9999999999 !important;
}

[id^="rulesHelper"] svg {
  transform: var(--svg-transform-scale);
}
#rulesHelperMain svg {
  margin: 0px;
}
#rulesHelperOpenMain svg {
  margin-right: 7px;
}

#rulesHelperMain {
  position: fixed;
  top: 10%;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-primary);
  padding: var(--padding);
  border: 1px solid #d8b4e2;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: var(--width);
  max-height: var(--max-height);
  overflow: scroll;
}

#rulesHelperMain::-webkit-scrollbar {
  display: none;
}

#rulesHelperMain .rulesHelperCloseContainer {
  width: var(--btn-container-width);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#rulesHelperMain .rulesHelperCloseContainer .rulesHelperCloseButton {
  color: var(--color);
}

#rulesHelperMain .rulesHelperCloseContainer .rulesHelperCloseButton:hover {
  background: var(--bg-danger);
}

#rulesHelperMain .rulesHelperButtonContainer {
  width: var(--btn-container-width);
  margin-top: 10px;
}

#rulesHelperOpenMain {
  position: fixed;
  margin: 0;
  top: 75%;
  right: 0%;
}

#rulesHelperOpenMain .rulesHelperOpenButton > span {
  line-height: 1.5;
}

#rulesHelperMain .navigationButtonsContainer {
  width: 100%;
  border: 1px solid darksalmon;
  margin-top: 12px;
  padding: 5px;
  display: flex;
  gap: 5px;
}

#rulesHelperMain .navigationButtonsContainer .navigationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  color: #f8f8ff;
  font-size: 18px;
  background-color: #a952c2;
  border-radius: 3px;
}

#rulesHelperMain .navbar {
  color: red;
} */
