@import url(../../contentScript/global.css);

svg {
  transform: scale(1.2);
}

#rules_popup {
  padding: 1rem;
  width: 300px;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid snow;
}

#rules_popup header {
  color: snow;
  font-size: var(--font-size);
}

#rules_popup #rulesHelperCustomButton {
  background-color: #212121;
  font-size: 12px;
}

#rules_popup #rulesHelperCustomButton:hover {
  background: linear-gradient(to bottom right, lightgray, transparent);
  border: 1px solid #212121;
  color: #212121;
  transition: all 0.25s ease-in-out;
}

section {
  background: snow;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

section .title {
  font-size: var(--font-size);
}

#properties-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  gap: 0.5rem;
  place-content: space-between;
  margin-top: 0.5rem;
}

#properties-grid button {
  padding: 0 5px;
}

.propertiesToggleBtn {
  margin-top: 0.5rem;
}

.propertiesBtn {
  text-align: center;
}

#tools-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#tools-grid > div {
}

#tools-grid #rulesHelperCustomButton {
  border-radius: 10px;
  width: max-content !important;
  gap: 3px;
  font-size: 0.6rem;
}
